* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg ,#667eea ,#764ba2);
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 20px 50px;
}
.nav-link a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-link{
    font-size: 24px;
    display: flex;
    gap: 30px;
}